In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
main_data = pd.read_csv("C:/Users/rajan/Downloads/bumble.csv")

In [3]:
main_data.head()

,age,status,gender,body_type,diet,drinks,education,ethnicity,height,income,job,last_online,location,pets,religion,sign,speaks
0,22,single,m,a little extra,strictly anything,socially,working on college/university,"asian, white",75.0,-1,transportation,2012-06-28-20-30,"south san francisco, california",likes dogs and likes cats,agnosticism and very serious about it,gemini,english
1,35,single,m,average,mostly other,often,working on space camp,white,70.0,80000,hospitality / travel,2012-06-29-21-41,"oakland, california",likes dogs and likes cats,agnosticism but not too serious about it,cancer,"english (fluently), spanish (poorly), french (..."
2,38,available,m,thin,anything,socially,graduated from masters program,NaN,68.0,-1,NaN,2012-06-27-09-10,"san francisco, california",has cats,NaN,pisces but it doesn&rsquo;t matter,"english, french, c++"
3,23,single,m,thin,vegetarian,socially,working on college/university,white,71.0,20000,student,2012-06-28-14-22,"berkeley, california",likes cats,NaN,pisces,"english, german (poorly)"
4,29,single,m,athletic,NaN,socially,graduated from college/university,"asian, black, other",66.0,-1,artistic / musical / writer,2012-06-27-21-26,"san francisco, california",likes dogs and likes cats,NaN,aquarius,english

In [4]:
main_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59946 entries, 0 to 59945
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          59946 non-null  int64
 1   status       59946 non-null  object
 2   gender       59946 non-null  object
 3   body_type    54650 non-null  object
 4   diet         35551 non-null  object
 5   drinks       56961 non-null  object
 6   education    53318 non-null  object
 7   ethnicity    54266 non-null  object
 8   height       59943 non-null  float64
 9   income       59946 non-null  int64
 10  job          51748 non-null  object
 11  last_online  59946 non-null  object
 12  location     59946 non-null  object
 13  pets         40025 non-null  object
 14  religion     39720 non-null  object
 15  sign         48890 non-null  object
 16  speaks       59896 non-null  object
dtypes: float64(1), int64(2), object(14)
memory usage: 7.8+ MB

In [27]:
misssing_value = main_data.isnull().sum().sort_values(ascending=False)
missing_Percent = (misssing_value/len(main_data))*100
missing_df = pd.DataFrame({'Missing Value': misssing_value,'Percentage': missing_Percent})
missing_df = missing_df[missing_df['Missing Value']>0]
print(missing_df)

           Missing Value  Percentage
diet               24395   40.694959
religion           20226   33.740366
pets               19921   33.231575
sign               11056   18.443266
job                 8198   13.675641
education           6628   11.056618
ethnicity           5680    9.475194
body_type           5296    8.834618
drinks              2985    4.979482
speaks                50    0.083408
height                 3    0.005005

In [28]:
#As per the requirement there is no column where more than 50% of the data is missing

#--let's continue this tomorrow
#https://chatgpt.com/c/679fa2c1-2e74-8008-8e30-cca4f5c68317