In [8]:
5+5

10

In [2]:
2+30

32

In [14]:
age=21
income=60000
if (age>20 and income>50000):
    print("eligible")
else:
 print("Not Eligible")

eligible

In [8]:
a=1
b=20
while(b>a):
    print(a)
    a=a+1
    if(a==b):
        break
        print("Liftoff!")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [19]:
start=20
end=0
while(start>end):
    if(start==end):
        print("Liftoff!")
        continue
        #start=start-1
    print(start)
    start=start-1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [21]:
import pandas as pd
import numpy  as np

In [25]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [33]:
test=pd.read_csv("C://Users/rajan/Downloads/NextLeap/matches.csv")

In [35]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          950 non-null    int64
 1   team              950 non-null    object
 2   opponent_team     950 non-null    object
 3   match_date        950 non-null    object
 4   venue             899 non-null    object
 5   runs_scored       950 non-null    int64
 6   wickets_lost      950 non-null    int64
 7   overs_faced       950 non-null    int64
 8   runs_conceded     950 non-null    int64
 9   wickets_taken     950 non-null    int64
 10  match_result      946 non-null    object
 11  man_of_the_match  946 non-null    object
dtypes: int64(6), object(6)
memory usage: 89.2+ KB

In [37]:
test.head(5)

,match_id,team,opponent_team,match_date,venue,runs_scored,wickets_lost,overs_faced,runs_conceded,wickets_taken,match_result,man_of_the_match
0,1312200,Rajasthan Royals,Gujarat Titans,5/29/2022,Ahmedabad,144,9,14,147,3,Gujarat Titans,HH Pandya
1,1312199,Royal Challengers Bangalore,Rajasthan Royals,5/27/2022,Ahmedabad,80,2,11,81,0,Rajasthan Royals,JC Buttler
2,1312198,Royal Challengers Bangalore,Lucknow Super Giants,5/25/2022,Kolkata,125,9,10,69,7,Royal Challengers Bangalore,RM Patidar
3,1312197,Rajasthan Royals,Gujarat Titans,5/24/2022,Kolkata,129,10,19,130,3,Gujarat Titans,DA Miller
4,1304116,Sunrisers Hyderabad,Punjab Kings,5/22/2022,Mumbai,134,3,15,136,0,Punjab Kings,Harpreet Brar

In [39]:
test.team.unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians', 'Kings XI Punjab',
       'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [41]:
team_temp=test.team.unique()

In [47]:
team_final=pd.DataFrame(team_temp)

In [49]:
team_final.head(5)

                             0
0             Rajasthan Royals
1  Royal Challengers Bangalore
2          Sunrisers Hyderabad
3               Delhi Capitals
4          Chennai Super Kings

In [51]:
test.team.nunique()

18

In [53]:
test.describe()

,match_id,runs_scored,wickets_lost,overs_faced,runs_conceded,wickets_taken
count,9.500000e+02,950.000000,950.000000,950.000000,950.000000,950.000000
mean,8.304852e+05,141.631579,5.007368,13.574737,119.601053,4.946316
std,3.375678e+05,43.687450,3.210059,3.904578,42.772190,3.275908
min,3.359820e+05,69.000000,0.000000,7.000000,66.000000,0.000000
25%,5.012612e+05,103.250000,2.000000,10.000000,83.250000,2.000000
50%,8.297380e+05,139.000000,5.000000,14.000000,107.000000,5.000000
75%,1.175372e+06,179.000000,8.000000,17.000000,148.000000,8.000000
max,1.312200e+06,218.000000,10.000000,20.000000,222.000000,10.000000